*{  // Disable Shadows
  box-shadow: none !important;
}

//Glowy highlight thing
div[class*="steamdesktop_FocusBar"][class*="steamdesktop_Focused"] {
  display: block;
  background: linear-gradient(to right, transparent 10%,rgba($accent, 0.5) 50%, transparent 90%);
}

// ████████╗░█████╗░██████╗░  ██████╗░░█████╗░██████╗░
// ╚══██╔══╝██╔══██╗██╔══██╗  ██╔══██╗██╔══██╗██╔══██╗
// ░░░██║░░░██║░░██║██████╔╝  ██████╦╝███████║██████╔╝
// ░░░██║░░░██║░░██║██╔═══╝░  ██╔══██╗██╔══██║██╔══██╗
// ░░░██║░░░╚█████╔╝██║░░░░░  ██████╦╝██║░░██║██║░░██║
// ░░░╚═╝░░░░╚════╝░╚═╝░░░░░  ╚═════╝░╚═╝░░╚═╝╚═╝░░╚═╝

// Steam top bar
div[class*="steamdesktop_TopBar"] {
	background: $mantle;
}

//Steam title bar
div[class*="rootmenu_RootMenuButton"] {
  color: $subtext0; // Not applying?
  &:hover:not([class*="rootmenu_Disabled"]) {
    color: $subtext1; // Highlighted
  }
}

// News button
div[class*="titlebarcontrols_AnnouncementsButton"] {
  background-color: $surface1;
  color: $overlay0;
  &:hover {
    background-color: $overlay0; //Hover
    [class*="titlebarcontrols_Icon"] {
      color: $overlay2; //Hover
    }
  }
}

// Notifications button
div[class*="titlebarcontrols_NotificationsButton"] {
  color: $surface0;
  &[class*="titlebarcontrols_WasNew"], &[class*="titlebarcontrols_NoNew"] {
    background-color: $surface1;
    &:not([class*="titlebarcontrols_Disabled"]):hover { //Hover
      background: $overlay0;
    }
  }
  &[class*="titlebarcontrols_NoNew"] {
    [class*="titlebarcontrols_Icon"] {
      color: $overlay0;
    }
    &:not([class*="titlebarcontrols_Disabled"]):hover [class*="titlebarcontrols_Icon"] { //Hover
      color: $overlay2;
    }
  }
  &[class*="titlebarcontrols_HasNew"] { //has a notif
    background-color: $green;
    &:not([class*="titlebarcontrols_Disabled"]):hover { //Hover
      background-color: rgba($green, 0.5);
    }
  }
}

// Steam title bar account menu
div[class*="titlebarcontrols_AccountMenu_"] {
  background-color: $surface1;
  &.online {
    color: $blue;
    div[class*="steamavatar_avatarStatus"] {
      background: linear-gradient(to bottom, $blue 0%, $blue 30%, $blue 70%, $blue 100%);
    }
  }
  &:hover {
    background-color: $overlay0; //Hover
  }
}

//Big picture mode button
div[class*="titlebarcontrols_GamepadUIToggle"] {
  color: $overlay0;
  &:hover {
    background: $overlay0; //Hover
  }
}
div[class*="titlebarcontrols_Button"]:hover {
  color: $overlay2; //Hover
}


//Window buttons
.title-area-icon-inner rect, .title-area-icon-inner line, .title-area-icon .SVGIcon_X_Line line {
  stroke: $overlay0;
}
.title-area-icon:hover .SVGIcon_Button rect, .title-area-icon:hover .SVGIcon_Button line, .title-area-icon:hover .SVGIcon_Button polyline {
  stroke: $overlay2;
}
.DesktopUI .title-area-icon.closeButton:hover{
  background: $red;
}
.DesktopUI .title-area-icon:hover{
  background: $overlay0;
}
.title-area-icon.closeButton:hover .title-area-icon-inner line {
  stroke: $crust;
}

//title bar hover text
div[class*="tooltip_TextToolTip"] {
  background-color: $overlay0;
  color: $text;
}

//Steam Super nav
div[class*="SuperNavMenu"] {
  div[class*="supernav_MenuButton"] {
    color: $text;
  }
  &:hover:not([class*="supernav_Disabled"]) div[class*="supernav_MenuButton"] { //Hover
    color: $subtext0;
  }
  &[class*="supernav_Selected"]:not([class*="supernav_Disabled"]) div[class*="supernav_MenuButton"] { //Selected
    color: $accent;
    text-shadow: 0px 0px 1px $accent;
    &::after {  background: $accent;  }
  }
}
[class*="supernav_Arrow"] {
  color: $overlay2;
  &[class*="supernav_Disabled"] {
    color: $surface1;
  }
  &[class*="supernav_Enabled"]:hover {
    color: $accent;
  }
}


// Browser bar
div[class*="steamdesktop_BrowserWrapper"] div[class*="steamdesktop_URLBar"] {
  background: $mantle;
}

// ██████╗░░█████╗░████████╗████████╗░█████╗░███╗░░░███╗  ██████╗░░█████╗░██████╗░
// ██╔══██╗██╔══██╗╚══██╔══╝╚══██╔══╝██╔══██╗████╗░████║  ██╔══██╗██╔══██╗██╔══██╗
// ██████╦╝██║░░██║░░░██║░░░░░░██║░░░██║░░██║██╔████╔██║  ██████╦╝███████║██████╔╝
// ██╔══██╗██║░░██║░░░██║░░░░░░██║░░░██║░░██║██║╚██╔╝██║  ██╔══██╗██╔══██║██╔══██╗
// ██████╦╝╚█████╔╝░░░██║░░░░░░██║░░░╚█████╔╝██║░╚═╝░██║  ██████╦╝██║░░██║██║░░██║
// ╚═════╝░░╚════╝░░░░╚═╝░░░░░░╚═╝░░░░╚════╝░╚═╝░░░░░╚═╝  ╚═════╝░╚═╝░░╚═╝╚═╝░░╚═╝

// Steam bottom bar
div[class*="bottombar_BottomBar"] {
  background: $mantle;
}

div[class*="bottombar_ProgressBarWrapper"] div[class*="bottombar_ProgressBar"] {
  --color-progress-bar-foreground: #{$accent};
  --color-progress-bar-background: #{$crust};
}

@mixin bottombar_Text-Icon($col1, $col2, $t-q) {
  & div[class*="bottombar_Icon"] {
    color: $col1;
  }
  & div[class*="bottombar_#{$t-q}"] {
    color: $col2;
  }
}
div[class*="bottombar_AddGameButton"], div[class*="bottombar_FriendsButton"] {
  @include bottombar_Text-Icon($surface2, $overlay2, Text);
}

div[class*="bottombar_AddGameButton"] {
  &:hover{@include bottombar_Text-Icon($subtext0, $subtext1, Text);}
}
div[class*="bottombar_FriendsButton"] {
  &:hover:not([class*="bottombar_Disabled"]) {@include bottombar_Text-Icon($subtext0, $subtext1, Text)}
}
div[class*="bottombar_DownloadStatusContent"] {
  @include bottombar_Text-Icon($surface2, $overlay2, Queue);
  &:hover{@include bottombar_Text-Icon($subtext0, $subtext1, Queue);}
}
