*{  // Disable Shadows
  box-shadow: none !important;
}

//Glowy highlight thing
.steamdesktop_FocusBar_3pXas.steamdesktop_Focused_2MkHZ {
  display: block;
    background: linear-gradient(to right, transparent 10%,unquote($accent+"50") 50%, transparent 90%);
}

// ████████╗░█████╗░██████╗░  ██████╗░░█████╗░██████╗░
// ╚══██╔══╝██╔══██╗██╔══██╗  ██╔══██╗██╔══██╗██╔══██╗
// ░░░██║░░░██║░░██║██████╔╝  ██████╦╝███████║██████╔╝
// ░░░██║░░░██║░░██║██╔═══╝░  ██╔══██╗██╔══██║██╔══██╗
// ░░░██║░░░╚█████╔╝██║░░░░░  ██████╦╝██║░░██║██║░░██║
// ░░░╚═╝░░░░╚════╝░╚═╝░░░░░  ╚═════╝░╚═╝░░╚═╝╚═╝░░╚═╝

// Steam top bar
.steamdesktop_TopBar_3Z7VQ {
	background: $mantle;
}

//Steam title bar
.rootmenu_RootMenuButton_2Uy0B { // Not applying?
	color: $subtext0;
}
.rootmenu_RootMenuButton_2UyOB:hover:not(.rootmenu_Disabled_2hcbl) { // Highlighted
  color: $subtext1;
}

// News button
.titlebarcontrols_AnnouncementsButton_5wILZ {
  background-color: $surface1;
  color: $overlay0;
}
.titlebarcontrols_AnnouncementsButton_5wILZ:hover { //Hover
  background-color: $overlay0;
}
.titlebarcontrols_AnnouncementsButton_5wILZ:hover .titlebarcontrols_Icon_34bQc { //Hover
  color: $overlay2;
}

// Notifications button
.titlebarcontrols_NotificationsButton_RtSv3.titlebarcontrols_WasNew_9YK5I, .titlebarcontrols_NotificationsButton_RtSv3.titlebarcontrols_NoNew_3qhGk {
  background-color: $surface1;
}
.titlebarcontrols_NotificationsButton_RtSv3.titlebarcontrols_NoNew_3qhGk .titlebarcontrols_Icon_34bQc {
  color: $overlay0;
}
.titlebarcontrols_NotificationsButton_RtSv3.titlebarcontrols_WasNew_9YK5I:not(.titlebarcontrols_Disabled_1QQWj):hover, .titlebarcontrols_NotificationsButton_RtSv3.titlebarcontrols_NoNew_3qhGk:not(.titlebarcontrols_Disabled_1QQWj):hover { //Hover
  background: $overlay0;
}
.titlebarcontrols_NotificationsButton_RtSv3.titlebarcontrols_NoNew_3qhGk:not(.titlebarcontrols_Disabled_1QQWj):hover .titlebarcontrols_Icon_34bQc { //Hover
  color: $overlay2;
}

.titlebarcontrols_NotificationsButton_RtSv3.titlebarcontrols_HasNew_3L1c8 {
  background-color: $green;
}

// Steam title bar account menu
.titlebarcontrols_AccountMenu_3yD46.online {
  color: $blue;
}
.titlebarcontrols_AccountMenu_3yD46 {
  background-color: $surface1;
}
.titlebarcontrols_AccountMenu_3yD46:hover { // Highlighted
  background-color: $overlay0;
}
.online .steamavatar_avatarStatus_1yIzy {
  background: linear-gradient(to bottom, $blue 0%, $blue 30%, $blue 70%, $blue 100%);
}

//Big picture mode button
.titlebarcontrols_GamepadUIToggle_3LKQ3 {
  color: $overlay0;
}
.titlebarcontrols_Button_2Szzh:hover { //Hover
  color: $overlay2;
}
.titlebarcontrols_GamepadUIToggle_3LKQ3:hover { //Hover
  background: $overlay0;
}

//Window buttons
.title-area-icon-inner rect, .title-area-icon-inner line, .title-area-icon .SVGIcon_X_Line line {
  stroke: $overlay0;
}
.title-area-icon:hover .SVGIcon_Button rect, .title-area-icon:hover .SVGIcon_Button line, .title-area-icon:hover .SVGIcon_Button polyline {
  stroke: $overlay2;
}
.DesktopUI .title-area-icon.closeButton:hover{
  background: $red;
}
.DesktopUI .title-area-icon:hover{
  background: $overlay0;
}
.title-area-icon.closeButton:hover .title-area-icon-inner line {
  stroke: $crust;
}

//title bar hover text
.tooltip_TextToolTip_29b2a {
  background-color: $overlay0;
  color: $text;
}

//Steam Super nav
.supernav_SuperNavMenu_7AlhC .supernav_MenuButton_19axK {
  color: $text;
}
.supernav_SuperNavMenu_7AlhC:hover:not(.supernav_Disabled_2cO0H) .supernav_MenuButton_19axK { //Hover
  color: $subtext0;
}
.supernav_SuperNavMenu_7AlhC.supernav_Selected_1gqEj:not(.supernav_Disabled_2cO0H) .supernav_MenuButton_19axK { //Selected
  color: $accent;
  text-shadow: 0px 0px 1px $accent;
}
.supernav_SuperNavMenu_7AlhC.supernav_Selected_1gqEj:not(.supernav_Disabled_2cO0H) .supernav_MenuButton_19axK::after { //Selected
  background: $accent;
}
//Nav arrows
.supernav_Arrow_25lBL.supernav_Disabled_2cO0H {
  color: $surface1;
}
.supernav_Arrow_25lBL {
  color: $overlay2;
}
.supernav_Arrow_25lBL.supernav_Enabled_1LYTH:hover {
  color: $accent;
}

// Browser bar
.steamdesktop_BrowserWrapper_1bGew .steamdesktop_URLBar_UkR3s {
  background: $mantle;
}

// ██████╗░░█████╗░████████╗████████╗░█████╗░███╗░░░███╗  ██████╗░░█████╗░██████╗░
// ██╔══██╗██╔══██╗╚══██╔══╝╚══██╔══╝██╔══██╗████╗░████║  ██╔══██╗██╔══██╗██╔══██╗
// ██████╦╝██║░░██║░░░██║░░░░░░██║░░░██║░░██║██╔████╔██║  ██████╦╝███████║██████╔╝
// ██╔══██╗██║░░██║░░░██║░░░░░░██║░░░██║░░██║██║╚██╔╝██║  ██╔══██╗██╔══██║██╔══██╗
// ██████╦╝╚█████╔╝░░░██║░░░░░░██║░░░╚█████╔╝██║░╚═╝░██║  ██████╦╝██║░░██║██║░░██║
// ╚═════╝░░╚════╝░░░░╚═╝░░░░░░╚═╝░░░░╚════╝░╚═╝░░░░░╚═╝  ╚═════╝░╚═╝░░╚═╝╚═╝░░╚═╝

// Steam bottom bar
.bottombar_BottomBar_3vCzS {
  background: $mantle;
}
//Bottom nav buttons [Add Game, Manage Downloads, Friends & Chat]
.bottombar_AddGameButton_2foCk .bottombar_Icon_1KrJ3, .bottombar_DownloadStatusContent_ip-YZ .bottombar_Icon_1KrJ3, .bottombar_FriendsButton_1TdaA .bottombar_Icon_1KrJ3 {
  color: $surface2;
}
.bottombar_AddGameButton_2foCk .bottombar_Text_3OhUx, .bottombar_DownloadStatusContent_ip-YZ .bottombar_Queue_3wJnT, .bottombar_FriendsButton_1TdaA .bottombar_Text_3OhUx {
  color: $overlay0;
}

.bottombar_AddGameButton_2foCk:hover .bottombar_Icon_1KrJ3, .bottombar_DownloadStatusContent_ip-YZ:hover .bottombar_Icon_1KrJ3, .bottombar_FriendsButton_1TdaA:hover:not(.bottombar_Disabled_2Sdix) .bottombar_Icon_1KrJ3 {
  color: $subtext0;
}
.bottombar_AddGameButton_2foCk:hover .bottombar_Text_3OhUx, .bottombar_DownloadStatusContent_ip-YZ:hover .bottombar_Queue_3wJnT, .bottombar_FriendsButton_1TdaA:hover:not(.bottombar_Disabled_2Sdix) .bottombar_Text_3OhUx {
  color: $subtext1;
}
