.steamdesktop_LocalContentContainer_RGNMW .steamdesktop_URLBarReplacement_2Cmrn {
  background: $crust;
}
.gamelistbar_GameListHomeAndSearch_2TKEa {
  background-color: $crust;
}
.library_LibraryWindowDivider_276E6 {
  background-color: $crust;
}
.libraryhome_Container_2gSXC {
  background: $crust;
}
.gamelistbar_Container_3x1Hk {
  background-image: none;
  background-color: $base;
}
.libraryhome_LibraryHome_3Sb2o {
  background-image: none;
  background-color: $base;
}
