
.menu_MenuItem_2jXHP.menu_Item_2uiDe:hover {
  background-color: #dcdedf;
  color: #3d4450;
}

.DesktopUI .contextmenu_contextMenuItem_pFo3k, .contextmenu_ForceDesktop_7K1n9 .contextmenu_contextMenuItem_pFo3k {
  color: ;
}
